@import "../../node_modules/sass-mq/mq";

// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

// colours
$c-background: #f8f8f8;
$c-black: #121212;
$c-red: #e00714;
$c-light-red: #ea503d;

// non-colours
$c-white: #ffffff;
$c-off-white: #f8f8f8;
$c-grey: #dfdfdf;
$c-dark-grey: #999;

// other
$c-ad-grey: #f6f6f6;

@import "partials/fonts";
@import "partials/base";
@import "partials/header";
@import "partials/share";
