<div class='fire'>
    {{> templates/partials/header }}

    <div class='fire-content'>
        <div class='gs-container'>
            <div class='fire-content__content'>
                {{> templates/partials/intro }}

                <div class='fire-injected js-fire'>
                    <div class='fire-content fire-content--latest'>
                        <h2 class='fire-content__title'>Latest departure</h2>
                        <div class='fire-content__cards js-latest'></div>
                    </div>

                    <div class='fire-content fire-content--all'>
                        <h2 class='fire-content__title'>Complete list</h2>
                        <div class='fire-content__cards js-all'></div>
                    </div>
                </div>

                {{> templates/partials/footer }}
            </div>
        </div>
    </div>
</div>
