<div class='fire-header'>
    <div class='gs-container'>
        <div class='fire-header__headline-wrapper'>
            <h1 class='fire-header__headline'>
                <span>The firings and the&nbsp;fury</span><br />
                The biggest Trump resignations and firing so&nbsp;far
            </h1>
        </div>

        <ul class='fire-header__people'>
            <li class='fire-header__person'>
                <div class='fire-header__person-details'>
                    <h3 class='fire-header__person-name'>Namey name</h3>
                    <h3 class='fire-header__person-stat'>Once did a thing that was funny</h3>
                </div>
                <img class='fire-header__person-image' src='@@assetPath@@/assets/images/cutouts/anthony-scaramucci.png' />
            </li>

            <li class='fire-header__person'>
                <div class='fire-header__person-details'>
                    <h3 class='fire-header__person-name'>Namey name</h3>
                    <h3 class='fire-header__person-stat'>Once did a thing that was funny</h3>
                </div>
                <img class='fire-header__person-image' src='@@assetPath@@/assets/images/cutouts/anthony-scaramucci.png' />
            </li>

            <li class='fire-header__person'>
                <div class='fire-header__person-details'>
                    <h3 class='fire-header__person-name'>Namey name</h3>
                    <h3 class='fire-header__person-stat'>Once did a thing that was funny</h3>
                </div>
                <img class='fire-header__person-image' src='@@assetPath@@/assets/images/cutouts/anthony-scaramucci.png' />
            </li>
        </ul>

    </div>
</div>
