<div class='fire-intro'>
    <div class='fire-intro__meta'>
        <ul class='fire-intro__share'>
            <li class='fire-intro__share__button fire-intro__share__button--facebook'><a href=''>{{> templates/icons/facebook }}</a></li>
            <li class='fire-intro__share__button fire-intro__share__button--twitter'><a href=''>{{> templates/icons/twitter }}</a></li>
            <li class='fire-intro__share__button fire-intro__share__button--email'><a href=''>{{> templates/icons/email }}</a></li>
        </ul>

        <div class='fire-intro__bylines'>
            <a class='fire-intro__byline' href=''>Sam Morris</a> and <a class='fire-intro__byline' href=''>Francisco Navas</a>
        </div>
        <div class='fire-intro__updated'>
            Last updated on Friday
        </div>
    </div>

    <div class='fire-intro__copy'>
        <p>Trump’s presidency is going to be remembered for many things, but those who serve within it will be slightly harder to recall. For Trump some habits die hard with the record number of officials that have been fired by the former reality TV star. Those hired to high-profile positions have struggled to serve for more than a couple of months, sometimes even days, before being fired or resigning.</p>

        <p>Already more than double that of the Reagan administration, Trump has currently overseen 43 high-profile departures. It’s a chaotic pattern that paints a picture of White House in turmoil. One that doesn’t show any sign of slowing down. This is a living document designed to help you keep pace.</p>
    </div>
</div>