<div class='fire-intro'>
    <div class='fire-intro__meta'>
        <ul class='fire-intro__share'>
            <li class='fire-intro__share__button fire-intro__share__button--facebook'><a href=''>{{> templates/icons/facebook }}</a></li>
            <li class='fire-intro__share__button fire-intro__share__button--twitter'><a href=''>{{> templates/icons/twitter }}</a></li>
            <li class='fire-intro__share__button fire-intro__share__button--email'><a href=''>{{> templates/icons/email }}</a></li>
        </ul>

        <div class='fire-intro__bylines'>
            <a class='fire-intro__byline' href=''>Sam Morris</a> and <a class='fire-intro__byline' href=''>Francisco Navas</a>
        </div>
        <div class='fire-intro__updated'>
            Last updated <span class='js-last-updated'>...</span>
        </div>
    </div>

    <div class='fire-intro__copy'>
        <p>The Trump presidency will be remembered for many things, but some of those who served it may prove tricky to recall. The former reality TV star has hired and fired staffers faster than he could ever jettison contestants on <a href='https://www.theguardian.com/us-news/2018/jan/26/trump-still-doesnt-get-the-difference-between-reality-and-reality-tv'>The Apprentice</a>. High-profile appointees to august posts traditionally filled for years have struggled to stay for more than a couple of months – sometimes even days – before being fired or resigning.</p><p>
By our count, Trump has overseen <span class='js-count'></span> high-profile departures in <a href='https://www.theguardian.com/us-news/2018/mar/01/donald-trump-white-house-trade-gun-control '>a blizzard of indecision and turmoil</a> that would be hard for even the sharpest White House-watcher to recall. So here's a living document, designed to help you keep pace.</p>
    </div>
</div>