<div class='fire-intro'>
    <div class='fire-intro__meta'>
        <ul class='fire-intro__share'>
            <li class='fire-intro__share__button fire-intro__share__button--facebook'><a href=''>{{> templates/icons/facebook }}</a></li>
            <li class='fire-intro__share__button fire-intro__share__button--twitter'><a href=''>{{> templates/icons/twitter }}</a></li>
            <li class='fire-intro__share__button fire-intro__share__button--email'><a href=''>{{> templates/icons/email }}</a></li>
        </ul>

        <div class='fire-intro__bylines'>
            <a class='fire-intro__byline' href=''>Sam Morris</a> and <a class='fire-intro__byline' href=''>Francisco Navas</a>
        </div>
        <div class='fire-intro__updated'>
            Last updated <span class='js-last-updated'>...</span>
        </div>
    </div>

    <div class='fire-intro__copy'>
        <p>Trump’s presidency is going to be remembered for many things, but those who serve within it will be slightly harder to recall. For Trump, some habits die hard with the record number of officials being fired by the former reality TV star. High-profile appointments that historically serve for years have struggled to hold down their position for more than a couple of months, sometimes even days, before being fired or resigning.</p>

        <p>Already more than double that of the Reagan administration, we count that Trump has overseen <span class='js-count'></span> high-profile departures. A chaotic record that paints a picture of an indecisive White House in turmoil. One that doesn’t show any sign of slowing down. This is a living document designed to help you keep pace.</p>
    </div>
</div>