.fire-header {
    position: relative;
    background-color: $c-light-red;

    .gs-container {
        height: 100%;
        background-image: url('@@assetPath@@/assets/images/bg-mobile.jpg');
        background-size: 116% auto;
        background-position: center bottom;
        background-repeat: no-repeat;

        @include mq(tablet) {
            background-image: url('@@assetPath@@/assets/images/bg.jpg');
            background-size: 100% auto;
        }
    }
}

.fire-header__headline-wrapper {
    position: relative;
    z-index: 22;
    font-size: 28px;
    line-height: 1.2;
    max-width: 680px;
    padding: 24px 0;

    @include mq(tablet) {
        font-size: 32px;
    }

    @include mq(desktop) {
        font-size: 48px;
        margin-left: 160px;
        padding-bottom: 128px;
    }
}

.fire-header__headline {
    position: relative;
    display: inline;
    color: $c-light-red;
    padding: 0 0 .1em 0;
    background: linear-gradient($c-black, $c-black) no-repeat;
    box-shadow: .2em 0 0 $c-black, -.2em 0 0 $c-black;
    font-family: 'Guardian Egyptian Web';
    font-size: inherit;
    line-height: inherit;

    span {
        color: $c-white;
    }
}

.fire-header__scroll {
    backface-visibility: hidden;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    overflow-x: scroll;
    margin: 0 7.5%;

    @include mq(mobileLandscape) {
        margin: 0 6.5%;
    }

    @include mq(tablet) {
        margin: 0 70px;
    }

    @include mq(desktop) {
        margin: 0 98px;
    }

    @include mq(leftCol) {
        margin: 0 118px;
    }

    @include mq(wide) {
        margin: 0 137px;
    }

    &::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
}

.fire-header__people {
    list-style: none;
    margin: 0;
    display: flex;
}

.fire-header__person {
    margin-right: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 30%;

    @include mq(tablet) {
        width: 110px;
    }

    @include mq(desktop) {
        width: 140px;
    }

    @include mq(leftCol) {
        width: 180px;
    }

    @include mq(wide) {
        width: 210px;
    }

    &:first-of-type {
        padding-left: 100%;
    }

    &:last-of-type {
        padding-right: 100%;
    }
}

.fire-header__person-image {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 2px;
}

.fire-header__person-details {
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: 1px solid $c-white;
}

.fire-header__person-name,
.fire-header__person-fact {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.fire-header__person-name {
    color: $c-white;
    font-weight: bold;
}

.fire-header__person-fact {
    font-style: italic;
    color: $c-black;
}

.fire-header__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &:hover {
        text-decoration: none;
    }
}