.fire-header {
    position: relative;
    background-color: $c-light-red;

    .gs-container {
        height: 100%;
        background-image: url('@@assetPath@@/assets/images/bg.jpg');
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}

.fire-header__headline-wrapper {
    position: relative;
    z-index: 22;
    font-size: 28px;
    line-height: 1.2;
    max-width: 680px;
    padding: 24px 0;

    @include mq(tablet) {
        font-size: 32px;
    }

    @include mq(desktop) {
        font-size: 48px;
        margin-left: 160px;
        padding-bottom: 128px;
    }
}

.fire-header__headline {
    position: relative;
    display: inline;
    color: $c-light-red;
    padding: 0 0 .1em 0;
    background: linear-gradient($c-black, $c-black) no-repeat;
    box-shadow: .2em 0 0 $c-black, -.2em 0 0 $c-black;
    font-family: 'Guardian Egyptian Web';
    font-size: inherit;
    line-height: inherit;

    span {
        color: $c-white;
    }
}

.fire-header__scroll {
    backface-visibility: hidden;
    margin: 0 137px;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    overflow-x: scroll;

    &::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
}

.fire-header__people {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.fire-header__person {
    width: 230px;
    margin-right: 20px;
    flex-shrink: 0;
}

.fire-header__person-image {
    width: 100%;
    height: auto;
}

.fire-header__person-details {
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: 1px solid $c-white;
}

.fire-header__person-name,
.fire-header__person-stat {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.fire-header__person-name {
    color: $c-white;
    font-weight: bold;
}

.fire-header__person-stat {
    font-style: italic;
    color: $c-black;
}