.fire-intro {
    position: relative;
    margin-bottom: 24px;
}

.fire-intro__headline-wrapper {
    position: relative;
    z-index: 22;
    margin-top: -1.45em;
    font-size: 28px;
    line-height: 1.2;
    max-width: 680px;
    margin-bottom: 12px;
    margin-left: -1px;

    @include mq(tablet) {
        font-size: 32px;
    }

    @include mq(desktop) {
        font-size: 48px;
    }
}

.fire-intro__headline {
    position: relative;
    display: inline;
    color: $c-light-red;
    padding: 0 0 .1em 0;
    background: linear-gradient($c-black, $c-black) no-repeat;
    box-shadow: .2em 0 0 $c-black, -.2em 0 0 $c-black;
    top: -1px;
    font-family: 'Guardian Egyptian Web';
    font-size: inherit;
    line-height: inherit;

    span {
        color: $c-white;
        display: inline-block;
    }
}

.fire-intro__meta {
    position: relative;
    margin-bottom: 12px;
}

.fire-intro__share {
    position: absolute;
    right: 0;

    @include mq(leftCol) {
        right: auto;
        left: -160px;
    }
}

.fire-intro__bylines {
    color: $c-red;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-size: 18px;
    line-height: 1.2;
}

.fire-intro__byline {
    font-weight: bold;
    color: $c-red;
    font-style: normal;
}

.fire-intro__updated {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
}