.fire-intro {
    position: relative;
    padding-top: 12px;
    padding-bottom: 24px;
}

.fire-intro__meta {
    position: relative;
    margin-bottom: 12px;
}

.fire-intro__share {
    position: absolute;
    right: 0;

    @include mq(desktop) {
        right: auto;
        left: -160px;
    }
}

.fire-intro__bylines {
    color: $c-red;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-size: 18px;
    line-height: 1.2;
    margin-right: 120px;
}

.fire-intro__byline {
    font-weight: bold;
    color: $c-red;
    font-style: normal;
}

.fire-intro__updated {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
}

.fire-intro__copy {
    font-family: 'Guardian Text Egyptian Web';
    font-size: 16px;
    line-height: 22px;

    p {
        margin-bottom: 18px;
    }

    a {
        border-bottom: 1px solid $c-black;
        color: $c-red;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            border-bottom-color: $c-red;
        }
    }
}