.fire-person {
    display: flex;
    margin-bottom: 24px;
    flex-shrink: 0;

    @include mq(tablet) {
        width: 540px;
        margin-bottom: 48px;
    }

    @include mq(leftCol,wide) {
        width: 494px;
    }
}

.fire-person__focus {
    margin-top: 8px;
    margin-right: -36px;

    @include mq(tablet) {
        margin-right: -64px;
    }
}

.fire-person__avatar,
.fire-person__active {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 64px;
    overflow: hidden;

    @include mq(tablet) {
        width: 128px;
        height: 128px;
    }
}

.fire-person__avatar {
    z-index: 2;
    background-color: $c-light-red;
}

.fire-person__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fire-person__active {
    background-color: $c-black;
    margin-top: -20px;
    margin-bottom: 8px;

    @include mq(tablet) {
        margin-top: -24px;
    }
}

.fire-person__active-count {
    margin-top: 24px;
    font-family: 'Guardian Figures';
    font-size: 28px;
    color: $c-white;
    text-align: center;
    margin-bottom: 0;

    @include mq(tablet) {
        margin-top: 48px;
        font-size: 48px;
    }
}

.fire-person__active-label {
    display: block;
    font-family: 'Guardian Egyptian Web';
    color: $c-light-red;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-style: italic;

    @include mq(tablet) {
        font-size: 15px;
        margin-top: 9px;
    }

    span {
        display: none;

        @include mq(tablet) {
            display: inline;
        }
    }
}

.fire-person__content {
    flex-grow: 2;
    border: 1px solid $c-red;
    background-color: $c-white;
    padding: 10px 10px 10px 46px;

    @include mq(tablet) {
        padding-left: 74px;
    }
}

.fire-person__name,
.fire-person__status {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.2;
    color: $c-red;
    margin: 0;
}

.fire-person__status {
    color: $c-black;
    margin-bottom: 12px;
}

.fire-person__position {
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    color: $c-black;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid $c-grey;
}

.fire-person__link {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-red;
    padding-right: 20px;
    background-image: url('@@assetPath@@/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 2px center;
    transition: background 0.2s linear;

    &:hover {
        text-decoration: none;
        background-position: right center;
    }
}