.fire-intro__share {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .svg {
        fill: $c-red;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.fire-intro__share__button {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 4px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 2px;

    &:hover {
        background-color: $c-red;
        border-color: $c-red;

        .svg {
            fill: $c-white;
        }
    }
}
